<tr {{bindAttr class="isTrashed"}}>
	<td>
		{{#if isTrashable}}
			<span class="icon-trash" {{action "toggleTrashed"}}></span>
		{{/if}}
	</td>
	<td>{{total}}</td>
	{{#each times}}
		<td>{{this}}</td>
	{{/each}}
</tr>
