.timeDisplay{
  //font-size: 100px;
}

.results{

}

#chart svg{
  background-color: #f0f0f0;
  height: 400px;
  //width: 600px;
}

th.active{
  color: #0088cc;
}

td, th{
  padding: 0px 10px 0px 10px;
}

table td{
	opacity: .8;
}

tr:hover td{
  opacity: 1;
  background-color: #f8f8f8;
}

.result-controls span{
  margin-right: 10px;
}

.icon-trash:hover{
	color: red;
	cursor: pointer;
}

.icon-random:hover{
  color: #0088cc;
  cursor: pointer;
}

.is-trashed{
	opacity: .3;

  .icon-trash:hover{
    color: green;
  }
}
